{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}

<h1>Search Results for {{item}}</h1>

 {% if results|length == 1 %}
        {{results|length}} result found: 
    
    {% elif results|length > 1 %}
        {{ results|length }} results found: 
    {% endif %}

<ul>

    {% for result in results %}
        <li>
            <a href="{% url 'entry' result %}">{{ result }}</a>
        </li>
    {% empty %}
        <h4>Not Found.</h4>
    {% endfor %}
</ul>

{% endblock %}