{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
<ul>
    <h1>Search Results for {{item}}</h1>

    {% if results|length == 1 %}
       <li> {{results|length}} </li>
    
    {% elif results|length > 1 %}
        <li>{{ results|length }} </li>
    {% endif %}

    {% for result in results %}
        <li>
            <a href="{% url 'entry' result %}">{{ result }}</a>
        </li>
    {% empty %}
        <h4>Not Found.</h4>
    {% endfor %}
</ul>

{% endblock %}